@using Navigation
<!DOCTYPE html>
@if (!WebSecurity.IsAuthenticated)
{
    Response.Redirect("~/Account/Login");
}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Page.Title</title>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/js/materialize.js" ></script>
    <script src="~/js/JsonList.js"></script>
    <link rel="stylesheet" href="~/css/materialize.css" />
    <link rel="stylesheet" href="~/css/styles_main.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    @{
List<Navigation.Page> pages = new List<Navigation.Page>();        
    pages.Add(new Navigation.Page(".","Dashboard"));
    pages.Add(new Navigation.Page("requests","Manage requests"));
    pages.Add(new Navigation.Page("pastdata","Past data"));
    pages.Add(new Navigation.Page("module","Modules"));
    pages.Add(new Navigation.Page("rooms","Rooms"));
    pages.Add(new Navigation.Page("javascript:loadHelp()","Help"));
    pages.Add(new Navigation.Page("javascript:document.getElementById('logoutForm').submit()","Log out"));
}
</head>
<body>
    <header>
        <form id="logoutForm" action="~/Account/Logout" method="post" style="display:none;">
            @AntiForgery.GetHtml();
        </form>

        <nav data-activates="mobile_nav" class="btn-collapse top-nav blue darken-1 full hide-on-large-only fixed">
            <a href='#' data-activates='mobile_nav' class='button-collapse'><i class="mdi-navigation-menu"></i></a>
        </nav>
        <!-- <div id="" class="col s12 m4 l3 blue lighten-1 side-nav fixed"> -->
        <ul id="main_nav" class="side-nav fixed hide-on-med-and-down">
            <li class="logo" id="logo">
               <img src="~/Images/LboroLogo.png"/>
            </li>
            @Links.NavList(pages, Page.Path)
        </ul>
        <ul class="side-nav hide-on-large-only" id="mobile_nav">
            <li class="logo" id="logo">
                <img src="~/Images/LboroLogo.png" />
            </li>
            @Links.NavList(pages, Page.Path)
        </ul>
        
        <nav id="current_location_bar" class="show-on-large-only top-nav blue darken-1">
            <div class="container" id="current_location_bar_inner">
                <span>Home</span>
                <i class="material-icons">chevron_right</i>
                <span>@Page.Title</span>
            </div>
        </nav>
    </header>

    <div id='wrapper' class="container">
        @RenderBody()
    </div>

    <!--
    <div id="help_backdrop">
    </div>

    <iframe class="card-panel hoverable" id="help_screen">
    </iframe> -->

    <script>
        $(".button-collapse").sideNav();
    </script>

</body>
</html>