
@using Navigation
<!DOCTYPE html>
@if (!WebSecurity.IsAuthenticated) {
    Response.Redirect("~/Account/Login");
} else {
    Page.UserId = WebSecurity.CurrentUserId;
}
@{ 
    var DB = Database.Open("dbConnectionString");
}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Page.Title</title>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/js/materialize.js"></script>
    <script src="~/js/JsonList.js"></script>
    <script src="~/js/display.js"></script>
    <link rel="stylesheet" href="~/css/materialize.css" />
    <link rel="stylesheet" href="~/css/styles_list.css" />
    <link rel="stylesheet" href="~/css/styles_main.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="user_id" value="@Page.UserId" />
    @{
        List<Navigation.Page> pages = new List<Navigation.Page>();
        pages.Add(new Navigation.Page(".", "Dashboard"));
        pages.Add(new Navigation.Page("requests", "Manage requests"));
        pages.Add(new Navigation.Page("pastdata", "Past data"));
        pages.Add(new Navigation.Page("module", "Modules"));
        pages.Add(new Navigation.Page("rooms", "Rooms"));
        pages.Add(new Navigation.Page("timetable", "Timetable"));
        pages.Add(new Navigation.Page("javascript:$('#modal1').openModal();", "Help"));
        pages.Add(new Navigation.Page("Account/Manage", "Manage account"));
        pages.Add(new Navigation.Page("javascript:document.getElementById('logoutForm').submit()", "Log out"));
    }
</head>
<body>
    <header>
        <form id="logoutForm" action="~/Account/Logout" method="post" style="display:none;">
            @AntiForgery.GetHtml();
        </form>

        <nav data-activates="mobile_nav" class="btn-collapse top-nav blue darken-1 full hide-on-large-only fixed">
            <a href='#' data-activates='mobile_nav' class='button-collapse'><i class="mdi-navigation-menu"></i></a>
        </nav>
        <!-- <div id="" class="col s12 m4 l3 blue lighten-1 side-nav fixed"> -->
        <ul id="main_nav" class="side-nav fixed hide-on-med-and-down">
            <li class="logo" id="logo">
                <img src="~/Images/LboroLogo.png" />
            </li>
            @Links.NavList(pages, Page.Path)
            <li>@Department.User.departmentID()</li>
            <li>
                <div id="google_translate_element"></div>
                <script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
                </script>
                <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

                </li>
        </ul>
        <ul class="side-nav hide-on-large-only" id="mobile_nav">
            <li class="logo" id="logo">
                <img src="~/Images/LboroLogo.png" />
            </li>
            @Links.NavList(pages, Page.Path)
        </ul>
        @if (Page.Title != "Home") {
            <nav id="current_location_bar" class="top-nav blue darken-1">
                <div class="nav-wrapper">
                    <div class="col s12" id="current_location_bar_inner">
                        <a href="." class="breadcrumb">Home</a>
                        @if (@Page.Parent2 != null) {
                            <a href="@Page.Parent2Path" class="breadcrumb">@Page.Parent2</a>
                        } 
                        @if (@Page.Parent != null) {
                            <a href="@Page.ParentPath" class="breadcrumb">@Page.Parent</a>
                           
                        } 
                        <a href="@Page.Path" class="breadcrumb">@Page.Title</a>
                    </div>
                </div>
            </nav>
        }
    </header>

    <main id='wrapper' class="container">
        @RenderBody()
    </main>


    <div id="modal1" class="modal">
        <div class="modal-content">
            <iframe src="~/Help/index.cshtml" id="help_screen"></iframe>
        </div>
    </div>


    <script>
        $(".button-collapse").sideNav();
        $('select').material_select();
        Materialize.updateTextFields();
    </script>

</body>
</html>
@{
    DB.Close();
}