@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Edit Room Request";
    Page.Path = "editroom";

    var id = Request.QueryString["id"];
    var DB = Database.Open("dbConnectionString");
    var data = DB.QuerySingle("SELECT * FROM request_room WHERE room_request_id = @0", id);
    var req_id = data["request_id"];

    Page.Parent2 = "Manage Requests";
    Page.Parent2Path = "requests";
    Page.Parent = "Edit Request";
    Page.ParentPath = "editrequest?id=" + data["request_id"];

    var capacity = data["capacity"];
    var type = data["type"];
    char park = data["park"][0];
    string room = data["room_code"];
    string facilities = data["facility"];
    string special = data["special"];
}

<h4>Edit Room Request for request @req_id</h4>
<div class="row">   
    <div class="col s12 m12 l6" id="form_left>
        <label for="capacityinput">Capacity required</label>
        <input id="capacityinput" type="number" name="capacity" value="@capacity" min="0" max="400" />
        <br />
        <label for="roomtypeinput">Preferred room type</label>
        <select id="roomtypeinput" class="browser-default" name="roomtype">
            @RequestForm.RoomTypes(type)
        </select>
        <br />
        <label for="parkinput">Preferred park</label>
        <select id="parkinput" name="roompark" class="browser-default">
            @RequestForm.Parks(park)
        </select>
        <br />
        <div onclick="loadRooms()" class="btn waves-effect">Update Room Suggestions</div>
        <br />
        <label for="roominput">Preferred room</label>
        <!-- <input list="roomlist" name="roompref" id="roominput" class="active"/> -->
        <select id="roomlist" class="browser-default" name="roompref">
            @RequestForm.Rooms(room)
        </select>
      </div>
    <div class="col s12 m12 l6" id="form_right">
        <p>Required Facilities</p>
        <div class="row">
            @RequestForm.RoomFacilities(facilities)
        </div>
        <br />
        <label for="specialinput">Special requirements</label>
        <textarea id="specialinput" name="special" class="materialize-textarea" length="200">@special</textarea>
        <input type="text" disabled name="owner" style="display:none;" value="@WebSecurity.CurrentUserId" />
    </div>
</div>
<div class="row">
    <div class="col s12">

    </div>
</div>