@using Models
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Manage Requests";
    Page.Path = "requests";
    var DB = Database.Open("dbConnectionString");


    string title = "";

    if (IsPost) {
        string module = Request.Form["modulecode"];
        string day = Request.Form["day"];
        string period = Request.Form["period"];
        string week = Request.Form["weeks"];
        string semester = Request.Form["semester"];

        string roomtype = Request.Form["roomtype"];
        string roompark = Request.Form["roompark"];
        string roompref = Request.Form["roompref"];
        string capacity = Request.Form["capacity"];
        string special = Request.Form["special"];
        string facility = Request.Form["facility"];

        string insert_statement = "INSERT INTO request (module_code, day, period, week, owner, semester, status, last_changed, booking_round, dept_id) VALUES (@0, @1, @2, @3, @4, @5, 'p', @6, 0, @7)";
        string room_statement = "INSERT INTO request_room (request_id, room_code, park, capacity, type, special, facility) VALUES (@@IDENTITY ,@0, @1,@2, @3, @4, @5)";

        if (module.Length > 0 && period.ToString().Length > 0) {
            try {
                DB.Execute(insert_statement, module, day, period, week, WebSecurity.CurrentUserId, semester, System.DateTime.Now, Department.User.departmentID());
                DB.Execute(room_statement, roompref, roompark, capacity, roomtype, special, facility);

            <div class="card-panel green white-text">
               Succesfully added request for @module
            </div>
            } catch (Exception e) {
            <div class="card-panel red white-text">
                Add request failed: @e.ToString()
            </div>
            }
        } else {
            <div class="card-panel orange">
                Please pick a module and time slot
            </div>

        }

    }

    if (Request.QueryString["message"] == "deleted")
    {
        <div class="card-panel green white-text">
            Deleted request @Request.QueryString["id"]
        </div>
    }else if (Request.QueryString["message"] == "withdrawn") {
        <div class="card-panel green white-text">
            Withdrew request @Request.QueryString["id"]
        </div>
    }

    var Data = DB.Query("SELECT * FROM request WHERE dept_id = null OR dept_id = @0 ORDER BY last_changed DESC", Department.User.departmentID());

    var ldata = Models.Request.convertTo(Data);

    var tediousList = new List<Dictionary<string, string>>();
    foreach (Request r in ldata) {
        tediousList.Add(r.ToNiceList());
    }

    var JSON = Json.Encode(tediousList);

    string newmodule_code = "";
    int newday = 1;
    string newperiods = "";
    string newweek = "";
    int newcapacity = 50;
    string newtype = "";
    char newpark = 'c';
    string newroom = "";

    if (Request.QueryString["copy"] != null) {
        string past_id = Request.QueryString["copy"].ToString();
        var past = DB.QuerySingle("SELECT * FROM pastsubmissions WHERE RequestNo = @0", past_id);
        newmodule_code = past["ModuleCode"];
        newday = past["Day"];
        newperiods = past["Period"].ToString();
        newroom = (string)past["Preference"];
        newpark = past["Park"].ToString().ToLower()[0] ;
        int startperiod = past["Period"];
        for (int i = 1; i < past["Length"]; i++) {
            newperiods += ("," + (startperiod + i));
        }
        <div class="card-panel blue">
            Copying previous request @past_id
        </div>
    }
}

<h4>Add request</h4>
<div id="requestForm">
    <form method="post" action="./requests.cshtml">
        <div class="row">
            <div class="col s12 m12 l6" id="form_left">
                <div for="partinput">Degree Part</div>
                <select id="partinput" class="browser-default" name="part" value="@newmodule_code" onchange="loadModules('@Department.User.departmentID()')">
                    @RequestForm.Parts()
                </select>
                <br />
                <div for="moduleinput">Module Code</div>
                <select id="moduleinput" class="browser-default" name="modulecode" value="@newmodule_code">
                    @RequestForm.Modules(Department.User.departmentID(), newmodule_code)
                </select>
                <br />
                <div for="dayinput">Day</div>
                <select id="dayinput" class="browser-default" name="day" value="@newday">
                    @RequestForm.Days(newday)
                </select>
                <br />
                <div for="periodinput">Period(s)</div>
                <select multiple id="periodinput" class="browser-default" name="period">
                    <!-- @newperiods -->
                    @RequestForm.Periods(newperiods)
                </select>
                <br />
                <div for="weeksinput" class="active">Week(s)</div>
                <select multiple id="weeksinput" class="browser-default" name="weeks">
                    @RequestForm.Weeks()
                </select>
            </div>
            <div class="col s12 m12 l6" id="form_right">
                <p>Capacity required</p>
                <input id="capacityinput" type="number" name="capacity" value="@newcapacity" min="0" max="400"/>
                <br />
                <div for="roomtypeinput">Preferred room type</div>
                <select id="roomtypeinput" class="browser-default" name="roomtype" >
                    @RequestForm.RoomTypes() 
                </select>
                <br />
                <div for="parkinput">Preferred park</div>
                <select id="parkinput" name="roompark" class="browser-default">
                    @RequestForm.Parks(newpark)
                </select>
                <br />
                <div onclick="loadRooms('@Department.User.departmentID()')" class="btn waves-effect">Update Room Suggestions</div>
                <br />
                <div for="roominput">Preferred room</div>
                <!-- <input list="roomlist" name="roompref" id="roominput" class="active"/> -->
                <select id="roomlist" class="browser-default" name="roompref" onchange="loadRoomInfo()">
                    @RequestForm.Rooms(newroom, Department.User.departmentID())
                </select>
                <br />
                <div class="card-panel blue white-text" id="roominfo">No room selected</div>
                <p>Required Facilities</p>
                <div class="row">
                    @RequestForm.RoomFacilities()
                </div>
                <br />
                <div for="specialinput">Special requirements</div>
                <textarea id="specialinput" name="special" class="materialize-textarea" length="200"></textarea>
                <input type="text" disabled name="owner" style="display:none;" value="@WebSecurity.CurrentUserId"/>

                
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6">
                <input type="checkbox" id="addrooms" name="addrooms" />
                <label for="addrooms">Add additional rooms</label>
            </div>
            <div class="col s12 l6" id="form_buttons">
                <input class="btn waves-effect" type="submit" value="Submit" />
                <div onclick="window.location.reload()" class="btn waves-effect red">Clear</div>
            </div>
        </div>
    </form>
</div>
<div>
    @JsonList.PrintList("requestlist", JSON, "All requests")
</div>
<script>
    loadRoomInfo();
</script>
@{
    DB.Close();
}
