@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Lboro Timetable";
    Page.Path = "requests";
    var DB = Database.Open("dbConnectionString");
    var Data = DB.Query("SELECT * FROM request");
    var JSON = Json.Encode(Data);

    string title = "";

    if (IsPost){
        title = Request.Form["title"];
    }
}

<h3>Requests @title</h3>
<div id="requestForm">
    <form method="post" action="./requests.cshtml">
        <div class="row">
            <div class="col s12 m12 l6" id="form_left">
                <label for="titleinput">Module Code</label>
                <input type="text" id="moduleinput" name="modulecode" value="@title" />
                <label for="periodinput">Period(s)</label>
                <select multiple id="periodinput" name="period" value="@title" >
                    <option value="green">09:00-10:00</option>
                </select>
                <br />
                <label for="weeksinnput" class="active">Week(s)</label>
                <select multiple id="weeksinput" name="weeks">
                    @RequestForm.Weeks();
                </select>
            </div>
            <div class="col s12 m12 l6" id="form_right">
                <label for="roomtypeinput">Preferred room type</label>
                <input type="text" id="roomtypeinput" name="roomtype" value="@title" />
            </div>
        </div>
        <div class="row">
            <div class="col s12" id="form_buttons">
                <input class="btn waves-effect" type="submit" value="Submit" />
            </div>
        </div>
    </form>
</div>
<div>
    @JsonList.PrintList("requestlist", JSON, "All requests")
</div>
<script>
    $('select').material_select();
    Materialize.updateTextFields();
</script>