@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Manage Requests";
    Page.Path = "requests";
    var DB = Database.Open("dbConnectionString");
    var Data = DB.Query("SELECT module_code as 'Module Code', status as 'Status', day as 'Day', period as 'Period(s)', week as 'Week(s)' FROM request");
    var JSON = Json.Encode(Data);

    string title = "";

    if (IsPost){
        title = Request.Form["title"];
    }
}

<h4>Add request</h4>
<div id="requestForm">
    <form method="post" action="./requests.cshtml">
        <div class="row">
            <div class="col s12 m12 l6" id="form_left">
                <label for="titleinput">Module Code</label>
                <select id="moduleinput" name="modulecode">
                    @RequestForm.Modules()
                </select>
                <br />  
                <label for="periodinput">Period(s)</label>
                <select multiple id="periodinput" name="period">
                    @RequestForm.Periods()
                </select>
                <br />
                <label for="weeksinnput" class="active">Week(s)</label>
                <select multiple id="weeksinput" name="weeks">
                    @RequestForm.Weeks();
                </select>
            </div>
            <div class="col s12 m12 l6" id="form_right">
                <label for="roomtypeinput">Preferred room type</label>
                <select id="roomtypeinput" name="roomtype">
                    @RequestForm.RoomTypes();
                </select>
                <br />
                <label for="parkinput">Preferred park</label>
                <select id="parkinput" name="roompark">
                    @RequestForm.Parks();
                </select>
                <br />
                <label for="specialinput">Special requirements</label>
                <textarea id="specialinput" name="special" class="materialize-textarea" length="200">

                </textarea>
            </div>
        </div>
        <div class="row">
            <div class="col s12" id="form_buttons">
                <input class="btn waves-effect" type="submit" value="Submit" />
            </div>
        </div>
    </form>
</div>
<div>
    @JsonList.PrintList("requestlist", JSON, "All requests")
</div>
<script>
    Materialize.updateTextFields();
</script>