@using Models
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Manage Requests";
    Page.Path = "requests";
    var DB = Database.Open("dbConnectionString");
    var Data = DB.Query("SELECT * FROM request");

    var ldata = Models.Request.convertTo(Data);

    var tediousList = new List<Dictionary<string, string>>();
    foreach (Request r in ldata)
    {
        tediousList.Add(r.ToNiceList());
    }

    var JSON = Json.Encode(tediousList);

    string title = "";

    if (IsPost){
        string module = Request.Form["modulecode"];
        string day = Request.Form["day"];
        string periods = Request.Form["periods"];
        string weeks = Request.Form["weeks"];
        string roomtype = Request.Form["roomtype"];
        string roompark = Request.Form["roompark"];
        string roompref = Request.Form["roompref"];
        <p>Booking for @module on @day</p>
        string insert_query = "INSERT INTO module (module_code, day, periods, weeks) VALUES (@0, @1, 'CO')";

    }
}

<h4>Add request</h4>
<div id="requestForm">
    <form method="post" action="./requests.cshtml">
        <div class="row">
            <div class="col s12 m12 l6" id="form_left">
                <label for="titleinput">Module Code</label>
                <select id="moduleinput" name="modulecode">
                    @RequestForm.Modules()
                </select>
                <br />  
                <label for="dayinput">Day</label>
                <select id="dayinput" name="day">
                    @RequestForm.Days()
                </select>
                <br />
                <label for="periodinput">Period(s)</label>
                <select multiple id="periodinput" class="browser-default" name="period">
                    @RequestForm.Periods()
                </select>
                <br />
                <label for="weeksinnput" class="active">Week(s)</label>
                <select multiple id="weeksinput" class="browser-default" name="weeks">
                    @RequestForm.Weeks()
                </select>
            </div>
            <div class="col s12 m12 l6" id="form_right">
                <label for="roomtypeinput">Preferred room type</label>
                <select id="roomtypeinput" name="roomtype">
                    @RequestForm.RoomTypes()
                </select>
                <br />
                <label for="parkinput">Preferred park</label>
                <select id="parkinput" name="roompark" onchange="loadRooms()">
                    @RequestForm.Parks()
                </select>
                <br />
                <label for="roominput">Preferred room</label>
                <input list="roomlist" name="roompref" id="roominput" class="active"/>
                <datalist id="roomlist" name="room">
                    @RequestForm.Rooms()
                </datalist>
                <br />
                <p>Required Facilities</p>
                <div class="row">
                    @RequestForm.RoomFacilities()
                </div>
                <br />
                <label for="specialinput">Special requirements</label>
                <textarea id="specialinput" name="special" class="materialize-textarea" length="200"></textarea>
                <input type="text" disabled name="owner" style="display:none;" value="@WebSecurity.CurrentUserId"/>
            </div>
        </div>
        <div class="row">
            <div class="col s12" id="form_buttons">
                <input class="btn waves-effect" type="submit" value="Submit" />
            </div>
        </div>
    </form>
</div>
<div>
    @JsonList.PrintList("requestlist", JSON, "All requests")
</div>
<script>
    Materialize.updateTextFields();
</script>
@{
    DB.Close();
}
