@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Rooms";
    Page.Path = "rooms";
    var DB = Database.Open("dbConnectionString");
    var Data = DB.Query("SELECT * FROM room");

    List<dynamic> list = new List<dynamic>();
    foreach(dynamic r in Data) {
        list.Add(Models.Room.ToNiceList(r));
    }
    var JSON = Json.Encode(list);
}

<h3>Rooms</h3>
@*
<div id="requestForm">
    <form method="post" action="./rooms.cshtml?add">
        <div class="row">
            <div class="col s12 m12 l6" id="form_left">
                <!-- left part of form -->
            </div>
            <div class="col s12 m12 l6" id="form_right">
                <!-- right part of form -->
            </div>
        </div>
        <div class="row">
            <div class="col s12" id="form_buttons">
                <input class="btn waves-effect" type="submit" value="Submit" />
            </div>
        </div>
    </form>
</div>*@
<div>
    @JsonList.PrintList("requestlist", JSON, "All requests")
</div>



<!-- ADD LECTURER -->


<!--

<br />

<form method="post" action="?privateroom=true">
   

    <div>
        <label for="moduleTitle">Room Details <span style="font-size:1.25em;color:red;">*</span></label>
        <div>

            <select class="browser-default" name="room_details" id="room_details" value=" ">
                
               @RequestForm.Rooms()
            </select>

        </div>
    </div>
    <br />
    
    <div>
        <label for="submit"></label>
        <div>
            <input type="submit" class="btn waves-effect" name="buttonSubmit" value="Assign">
        </div>
    </div>
</form>

@{
    /*
    var room_details = "";
    
    if(IsPost && (Request.QueryString["privateroom"]=="true")){
        
        room_details = Request.Form["room_details"];

        var db = Database.Open("dbConnectionString");
        var addLecturer = "INSERT INTO room dept_id = 'CO' WHERE room_code = room_details";
       
        
        db.Execute(addLecturer, room_details);
        Response.Redirect("~/rooms");
    }

    */
}

-->





<br />












<label style="font-size:2.5em;color:black;">Add new private room to your department</label>


<div id="requestForm">
    <form method="post" action="./rooms.cshtml">
        <div class="row">
 
            <div class="col s12 m12 l6" id="form_right">
                
                <label for="roominput">Room Code</label>
                
                <input id="room_details" name="room_details" type="text" value="">
                
                <br />
                
                
                <label for="capacityinput">Room Capacity</label>
                <input id="capacityinput" type="number" name="capacity" value="" min="0" max="400"/>
                <br />
                
                
                <label for="roomtypeinput">Room type</label>
                <select id="roomtypeinput" class="browser-default" name="roomtype" >
                    @RequestForm.RoomTypes()
                </select>
                <br />
                
                
                <label for="parkinput">Park</label>
                <select id="parkinput" name="roompark" class="browser-default">
                    @RequestForm.Parks()
                </select>
                
                <br />
                <p>Required Facilities</p>
                <div class="row">
                    @RequestForm.RoomFacilities()
                </div>
                <br />
                
                
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6" id="form_buttons">
                <input class="btn waves-effect" type="submit" value="Submit" />
                <div onclick="window.location.reload()" class="btn waves-effect red">Clear</div>
            </div>
        </div>
    </form>
</div>




@{
    
    var room_details = "";
    var capacity = "";
    var type = "";
    var park = "";
    var facility = "";
    
    if(IsPost){
        
        room_details = Request.Form["room_details"];
        capacity = Request.Form["capacity"];
        type = Request.Form["roomtype"];
        park = Request.Form["roompark"];
        facility = Request.Form["facility"];

        var db = Database.Open("dbConnectionString");
        //var addPrivateRoom = "INSERT INTO room room_code = @0, park = @1, capacity = @2, type = @3, dept_id = @4";
       
        var addPrivateRoom = "INSERT INTO room (room_code, park, capacity, type, dept_id, facility) VALUES (@0,@1,@2,@3,@4,@5)";
       
        db.Execute(addPrivateRoom, room_details, park, capacity, type, Department.User.departmentID(), facility);
        Response.Redirect("~/rooms");
    }

    
}



@{
    DB.Close();
}


