@using Facilities


@helper Periods(){
    for(int i=1; i <= 13; i++){
        
    }
}

@helper Weeks(){
    for(int i=1; i <= 12; i++){
        <option selected    value="@i">Week @i</option>
    }
}

@helper RoomTypes(){
    foreach(var type in Facilities.Room.Types()){
        string code = @type.Key;
        string nice = @type.Value;
        <option value="@code">@nice</option>
    }
}

@helper Parks(){
    foreach(var park in Facilities.Park.Parks()){
        string code = @park.Key;
        string nice = @park.Value;
        <option value="@code">@nice</option>
    }
}