@using Facilities
@using Department
@using Bookings


@helper Periods(){
    foreach(var period in Bookings.Period.All()){
        var num = period.Key;
        var val = period.Value;
        <option value="@num">@num - @val</option>
    }
}

@helper Days() {
    foreach (var day in Life.Calendar.Days()) {
        var num = day.Key;
        var name = day.Value;
        <option value="@num">@name</option>
    }

}

@helper Weeks(){
    for(int i=1; i <= 12; i++){
        <option selected    value="@i">Week @i</option>
    }
}

@helper RoomTypes(){
    foreach(var type in Facilities.Room.Types()){
        string code = @type.Key;
        string nice = @type.Value;
        <option value="@code">@nice</option>
    }
}

@helper Parks(){
    foreach(var park in Facilities.Park.Parks()){
        char code = @park.Key;
        string nice = @park.Value;
        <option value="@code">@nice</option>
    }
}


@helper Modules(string dept_id = "CO") {
    foreach (var module in Bookings.Module.AllCodes(dept_id))
    {
        string code = @module.Key;
        string nice = @module.Value;
            <option value="@code">@code - @nice</option>
    }
}

@helper Rooms() { 
        foreach (var code in Facilities.Room.Codes()) {
               <option value="@code">@code</option>
        }
    }

@helper Lecturer(string dept_id) { 
    <option value="">--</option>
foreach(dynamic lect in Department.Lecturer.lecturerByDept(dept_id))
{
        int id = lect["lecturer_id"];
        string fullname = lect["full_name"];
        string username = lect["username"];
        <option value="@id">@fullname (@username)</option>
}
    }

@helper RoomFacilities() { 
    foreach(dynamic fac in Facilities.FacilityTypes.PossibleFacilities()) {
        int id = fac.Key;
        string code_id = "facility_" + id.ToString();
        string name = fac.Value;
        <div class="col s6">
            <input type="checkbox" name="@code_id" id="@code_id" />
            <label for="@code_id">@name</label>
        </div>
    }
}